@import "src/variables.scss";
@import "src/styles.scss";

.form__plans-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.form__plan {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: $text-m-font-size;
  cursor: pointer;
  flex: 0.5;

  input {
    margin-right: calc($spacing / 4);
    cursor: pointer;
    width: calc($spacing * 1.5) ;
    height: calc($spacing * 1.5);
  }

  label {
    cursor: pointer;
  }
}

form {
  margin-top: calc($spacing * 2);

  .form__inputs-wrapper + .form__inputs-wrapper {
    margin-top: $spacing;
  }
}

.form__inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: $text-m-font-size;
  font-weight: $font-weight-bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: calc($spacing / 2);
}

.form__input {
  border: 1px $black solid;
  border-radius: $border-radius;
  height: calc($spacing * 2);
}

.form__submit {
  margin-top: calc($spacing * 2);
}

.form__feedback {
  color: $black;
  font-weight: $font-weight-bolder;
  text-align: center;
}
