@import "src/variables.scss";

.form__plans-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.form__plan {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: $text-m-font-size;

  input {
    margin-right: $spacing / 4;
    cursor: pointer;
  }
}

.form__plan + .form__plan {
  padding-left: $spacing * 2;
}
