@import 'src/variables.scss';

.register-page__container {
  padding: $spacing * 35;
}

.register-page__header {
  font-family: 'Roboto', sans-serif;
  color: $blue;
  font-weight: $font-weight-bold;
  font-size: $title-m-font-size;
}

.register-page__subtitle {
  color: $black;
  font-size: $text-m-font-size;
  font-weight: $font-weight-light;
  margin-bottom: $spacing * 2;
}

mat-panel-title {
  font-family: 'Poppins', sans-serif;
  font-weight: $font-weight-bolder;
}
