@use '@angular/material' as mat;
@include mat.core();
@import "./variables.scss";

$teste-pipo-primary: mat.define-palette(mat.$indigo-palette);
$teste-pipo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$teste-pipo-warn: mat.define-palette(mat.$red-palette);

$teste-pipo-theme: mat.define-light-theme((
  color: (
    primary: $teste-pipo-primary,
    accent: $teste-pipo-accent,
    warn: $teste-pipo-warn,
  )
));

@include mat.all-component-themes($teste-pipo-theme);

* {
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  min-height: 100vh;
}

.default-button {
  padding: $spacing/2;
  border-radius: $border-radius;
  font-weight: $font-weight-bolder;
  background-color: $blue;
  color: $light-pink;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color: $blue;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: rgba($blue, 0.3);
    cursor: not-allowed;
    color: rgba($light-pink, 0.8);
  }
}
