@use '@angular/material' as mat;
@include mat.core();
@import "./variables.scss";

$teste-pipo-primary: mat.define-palette(mat.$indigo-palette);
$teste-pipo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$teste-pipo-warn: mat.define-palette(mat.$red-palette);

$teste-pipo-theme: mat.define-light-theme((
  color: (
    primary: $teste-pipo-primary,
    accent: $teste-pipo-accent,
    warn: $teste-pipo-warn,
  )
));

@include mat.all-component-themes($teste-pipo-theme);

* {
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  min-height: 100vh;
}

@mixin button($bg-color, $color) {
  background-color: $bg-color;
  border-radius: $border-radius;
  border: none;
  color: $color;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: $text-s-font-size;
  padding: $spacing/2 $spacing;

  &:hover {
    font-weight: bold;
  }

  &:disabled {
    background-color: $black;
  }
}
