// Font sizes
$title-l-font-size: 2rem;
$title-m-font-size: 1.7rem;
$title-s-font-size: 1.4rem;
$text-m-font-size: 1rem;
$text-s-font-size: 0.8rem;

// Font weight
$font-weight-bolder: 700;
$font-weight-bold: 500;
$font-weight-light: 400;

// Colors
$light-pink: #ffd4d2;
$black: #333;
$blue: #1743c9;
$white: #fff;

// Spacing
$spacing: 1rem;

// Others
$border-radius: 5px;
